body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image:linear-gradient(#eff3f5,#f0f4f5);
}
.App {
  align-items: center;
  overflow-x: hidden;
}
.nav {
  width:100vw;
  position: sticky;
  top: 0;
  margin-top: 6px;
  z-index: 999;
}
.nav.active {
  background-color: #1c1c1c;
}
.IconElement {
  color: "#f6a82f"
}
.rec.rec-arrow {
  visibility: hidden;
}
.rec.rec-dot {
  visibility: hidden;
}
/* .MuiButton-root {
  border-radius: 10px !important;
}  */

.main_button {
  background-image: linear-gradient(to right, #f4af2f, #f4af1f, #f29807, #f59430, #ffb732, #f59730, #f6a92f);
  color: #000000;
  padding: 3px;
  width: 50%;
  display: flex !important;
  margin: auto !important;
}
.main_button:hover {
  background-color: #f29807;
}

.body_content {
  max-width: 75%;
  color: #f2f8fa; 
  padding: 5px;
}
.facebook_button {
  background-color: transparent;
  border: none;
  margin: 4px;
  width: 72px;
  height: 38px;
  color: white;
}
.google_button {
  border: none;
  margin: 4px;
  width: 72px;
  height: 38px;
}
.overline_text {
  background-color: #f6a82f;
  color: #000000;
  padding: 5px;
}
.DateRangePicker{
  width: 100%;
  margin: 0;
}
.DateInput_input{
  font-size: 10px !important;
  padding: 5px 5px !important;
  /* border: 0.8px solid gray !important; */
  align-items: center;
  text-align: center;
}
.DateRangePickerInput  {
  display:flex !important;
}
.DayPicker_transitionContainer {
  margin-top: -200px;
}
/* .DateRangePickerInput__withBorder {
  border: 0.8px solid gray !important;
  padding: 10px;
} */
.DateRangePickerInput_calendarIcon {
  padding: 0px  !important;
}
.DateRangePickerInput_arrow_svg {
  margin: 5px;
}
/* .galrjd {
  width: 360px !important;
} */